.el-main {
  padding: 0;
}
.el-header {
  padding: 0;
}
.el-input__inner {
  height: 50px;
}
.el-form-item__label {
  color: ivory;
  font-size: 18px;
}
.el-form-item__error {
  padding-left: 2px;
}
.my-form {
  width: 300px;
}
.el-card__body .flex.el-form-item {
  margin-bottom: 10px !important;
}
.el-card__body .flex.el-form-item .el-form-item__content {
  margin-left: 0 !important;
}
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #757575 !important;
  font-size: 15px;
  font-weight: bolder !important;
}
.cardstyle {
  /* width: 400px; */
  /* margin-left: calc(calc(100-vw-400px) / 2); */
  border-radius: 20px !important;
  /* border-color: rgba(30, 77, 102, 1); */
  border: 0 ;
  /* background-color: rgba(200, 200, 200, 1); */
  background: -webkit-linear-gradient(bottom, rgba(12, 38, 51, 0.6), rgba(30, 77, 102, 0.6)) !important;
  color: ivory;
  /* height: 400px; */
}
.el-dropdown-menu span:hover {
  background-color: white !important;
}
